In [1]:
from adlfs import AzureBlobFileSystem

In [2]:
fs = AzureBlobFileSystem(connection_string="DefaultEndpointsProtocol=https;AccountName=testaccountgen2;AccountKey=5yQlcKiBaeuN+AZCcb2t13TdJW6RABeFXOfgtCCeei/F4fXoTj5Uy7cFY+vqIQcgSfjIszhXh06ZvI8d/Oxb6A==;EndpointSuffix=core.windows.net")

In [8]:
fs.isdir("storage-container/demo_data.parquet")

True

In [11]:
import os

In [12]:
path = os.path.join("az://storage-container/demo_data.parquet".partition("//")[2], "demo_data.parquet")

In [14]:
from dask.distributed import Client
import dask.dataframe as dd
c = Client()

In [16]:
ddf = dd.read_parquet("az://storage-container/demo_data.parquet", storage_options={'connection_string':
                                                                                  "DefaultEndpointsProtocol=https;AccountName=testaccountgen2;AccountKey=5yQlcKiBaeuN+AZCcb2t13TdJW6RABeFXOfgtCCeei/F4fXoTj5Uy7cFY+vqIQcgSfjIszhXh06ZvI8d/Oxb6A==;EndpointSuffix=core.windows.net"})

In [17]:
ddf.head()

              A         B         C         D         E         F
index
0      0.464400  0.942594  0.614053  0.937478  0.524446  0.385020
1      0.895155  0.312353  0.441985  0.181114  0.277331  0.867207
2      0.710447  0.275992  0.358910  0.477144  0.145201  0.588366
3      0.099443  0.520704  0.052522  0.599338  0.497286  0.507366
4      0.074884  0.233145  0.684133  0.690217  0.724108  0.995860

In [19]:
ddf.reset_index(drop=True).head()

          A         B         C         D         E         F
0  0.464400  0.942594  0.614053  0.937478  0.524446  0.385020
1  0.895155  0.312353  0.441985  0.181114  0.277331  0.867207
2  0.710447  0.275992  0.358910  0.477144  0.145201  0.588366
3  0.099443  0.520704  0.052522  0.599338  0.497286  0.507366
4  0.074884  0.233145  0.684133  0.690217  0.724108  0.995860